<div class="content-box-header">
	<div class="panel-title">
		<b>{{model.name}}</b>
	</div>
	<button{{action 'deleteTask'}} class="btn btn-danger btn-xs remove-task"><i class="glyphicon glyphicon-remove"></i></button>
	<button{{action 'editTask'}} class="btn btn-warning btn-xs remove-task"><i class="glyphicon glyphicon-edit"></i></button>
</div>
<div class="content-box-large box-with-header">
	<div class="panel-body">
		{{outlet}}
	</div>
</div>